{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사회과학대학</title>
    <link rel=icon href="{% static 'reservation/titlelogo.png' %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css' %}">
</head>
<body class="sign_bg">
    <header>
        <div id="signlogo">
            <h1><a href="{% url 'home' %}">사회과학대학</a></h1>
        </div>
    </header>
    <main>
        <section id="sign_inputs">
            <a style="color:white;">작성하신 웹 메일로 계정인증 메일이 전송되었습니다.</a>
    </main>
</body>