{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사회과학대학</title>
    <link rel=icon href="{% static 'reservation/titlelogo.png' %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css' %}">
</head>
<body class="sign_bg">
    <header>
        <div id="signlogo">
            <h1><a href="{% url 'home' %}">사회과학대학</a></h1>
        </div>
    </header>
    <main>
        <section id="sign_inputs">
            <form method="POST" action="{% url 'login'%}">
                {% csrf_token %}
                <input type="text" name="username" id="student_id" placeholder="학      번">
                <input type="password" name="password" id="password" placeholder="비밀번호">
                <button class="sign_btn">로그인</button>
                <!-- <input type="button" value="로그인" class="sign_btn"> -->
                <div>
                    <a style="font-size:0.2em" ><br/></a>
                    <a style="color:aliceblue; font-size:0.9em; text-decoration:none;" href="{% url 'password_reset' %}">비밀번호 찾기</a> &nbsp;
                    <a style="color:aliceblue; font-size:0.9em; text-decoration:none;" href="{% url 'signup' %}">회원가입</a> 
                </div>
            </form>
        </section>
    </main>

</body>
<script>
    var msg = "{{msg}}";
    if(msg != ""){
        alert(msg);
    }
</script>
<style>
    body.sign_bg>main>#sign_inputs input{
        width:290px;
    }
</style>

