
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사회과학대학</title>
    <link rel=icon href="{% static 'reservation/titlelogo.png' %}" sizes="16x16" type="image/png">
    <link rel="stylesheet" href="{% static 'reservation/main.css' %}">
</head>
<body class="sign_bg">
    <header>
        <div id="signlogo">
            <h1><a id="title_logo_name" href="{% url 'home' %}">사회과학대학</a></h1>
        </div>
    </header>
    <main>
        <section id="sign_inputs">
            <form method="POST" style="color:white;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="sign_btn">암호 재설정</button>
            </form>
            <a style="color:aliceblue; font-size:0.9em; text-decoration:none;" href="{% url 'login' %}">로그인</a> &nbsp;
            <a style="color:aliceblue; font-size:0.9em; text-decoration:none;" href="{% url 'signup' %}">회원가입</a> &nbsp;

        </section>
    </main>

</body>
<script>
    var msg = "{{msg}}";
    if(msg != ""){
        alert(msg);
    }
    
    var elem = document.getElementById('id_new_password1');
    elem.setAttribute('placeholder',"새 비밀번호 입력")
    
    var elem2 = document.getElementById('id_new_password2');
    elem2.setAttribute('placeholder',"새 비밀번호 입력(확인)")


    var arr = document.querySelectorAll('label');
    for (var i=0; i<arr.length; i++){
        arr[i].remove();
    }

    var arr = document.querySelectorAll('li');
    for (var i=0; i<arr.length; i++){
        arr[i].style.fontSize = '12.5px';

    }
</script>
<style>
    body.sign_bg>main>#sign_inputs input{
        width:290px;
    }
</style>

